<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Dudhichua Project">
  <meta name="keywords"
    content="Dudhichua, Dudhichua Project, Live status, Shift report, Daily report, Production report, Dispatch report">
  <meta name="author" content="Sushant Tiwari">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>dch</title>
  <script src="libs/angular.js"></script>
  <script src="libs/jquery.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">
  <div class="header">
    <div class="menu">
      <a href="index.html">Live</a>
      <a href="shift.html">Shift</a>
      <a href="day.html">Day</a>
    </div>

    <div class="title">
      <p>Dudhichua.live</p>
    </div>

    <div class="login">
      <div class="login-form" ng-hide="auth">
        <input type="text" placeholder="PIN" ng-model="pin" />
        <button ng-click="login()">Login</button>
      </div>

      <div class="user" ng-hide="!auth">
        <span> {{user}}</span>
        <button ng-click="auth=false;pin=''">Logout</button>
      </div>
    </div>
  </div>

  <div class="leg">
    <div class="idl {{ statusStrings[0] }}">{{ statusStrings[0] }}</div>
    <div class="run {{ statusStrings[1] }}">{{ statusStrings[1] }}</div>
    <div class="brk {{ statusStrings[2] }}">{{ statusStrings[2] }}</div>
  </div>

  <!-- /////////////////////////////////////////////////////////// -->

  <div class="live-section">
    <div class="type" ng-repeat="y in types">
      <div class="machine" ng-repeat="x in machines" ng-hide="x.type!=y">
        <div class="inner">
          <div class="front {{ statusStrings[x.status] }}">
            <p class="machine-title">{{ x.name }}</p>
            <p class="machine-remark">{{ x.remark }}</p>
          </div>

          <div class="back">
            <p class="machine-title-back">{{ x.name }}</p>
            <select ng-model="x.status" ng-change="update()"
              ng-options="statusStrings[s] for s in statusCodes"></select>
            <input class="back-remark" ng-model="x.remark" ng-change="update()" placeholder="Remark" type="text" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="scripts/navigation.js"></script>
<script src=" scripts/live.js"></script>
<link rel="stylesheet" href="styles/live.css" />
<link rel="stylesheet" href="styles/common-styles.css" />

</html>