<!DOCTYPE html>
<html lang="en">

<head>
    <title>DCH</title>
    <meta charset="utf-8">
    <meta name="Description" content="Day end report">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="libs/w3.css">
    <link rel="stylesheet" href="styles.css">
    <script src="libs/angular.js"></script>
    <script src="libs/jquery.js"></script>
</head>

<body ng-app="day" ng-controller='day-ctrl' class="w3-sand">

<div class="w3-cell-row w3-white w3-border">
    <div class="w3-cell w3-cell-middle">
        <a href="index.html" class=""><img src="media/favicon.png" alt="" style="width:20px"></a>
        <a href="index.html" class=" w3-button w3-hover-black"><i class="fa fa-dot-circle-o"></i><span class="desk">
                Live</span></a>
        <a href="prod.html" class=" w3-button w3-hover-black"><i class="fa fa-bar-chart"></i><span class="desk">
                Data</span></a>
        <a href="shift.html" class=" w3-button w3-hover-black"><i class="fa fa-bar-chart"></i><span class="desk">
                Shift</span></a>
        <a href="day.html" class=" w3-button w3-hover-black"><i class="fa fa-bar-chart"></i><span class="desk">
                Day</span></a>
    </div>
    <div class="w3-cell w3-cell-middle w3-xxlarge">
        <p>Dudhichua Live</p>
    </div>
    <div class="w3-cell w3-cell-middle">
        <a href="#" class=" w3-button w3-green w3-right">Login</a>
        <input type="text" class=" w3-input w3-half w3-right" placeholder="PIN">

    </div>
</div>

    
    <div class="w3-container w3-purple w3-center w3-large">
        <div class="w3-quarter">
            <button class="w3-btn w3-round w3-right" ng-mouseDown="prev()">-</button>
        </div>
        <div class="w3-half">
            [{{day}}]
            {{f}}
        </div>
        <div class="w3-quarter">
            <button class="w3-btn w3-round w3-left" ng-mouseDown="next()">+</button>
        </div>
    </div>

    <div class="w3-container w3-margin">

        <input id="status" class="w3-input" ng-model="status" type="text" ng-disabled="true">
        <div>
            <div>
                <table class="w3-table-all w3-margin-top">
                    <tr class="w3-teal w3-xlarge">
                        <td colspan="10">Summary</td>
                    </tr>
                    <tr class="head">
                        <td></td>
                        <td>Coal</td>
                        <td>Deptt OB</td>
                        <td>Outs OB</td>
                    </tr>
                    <tr class="unit">
                        <td></td>
                        <td>(Te)</td>
                        <td>(cum)</td>
                        <td>(cum)</td>
                    </tr>
                    <tr>
                        <td>Shovel</td>
                        <td>{{shovels_total.qty.coal}}</td>
                        <td>{{shovels_total.qty.ob}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Dragline</td>
                        <td></td>
                        <td>{{draglines_total.solid_qty}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>S Miners</td>
                        <td>{{surfaceMiners_total.data.prod}}</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Out Src</td>
                        <td></td>
                        <td></td>
                        <td>{{outsourcings_total.data.qty}}</td>
                    </tr>
                    <tr class="total w3-teal">
                        <td>Total</td>
                        <td>{{shovels_total.qty.coal+surfaceMiners_total.data.prod}} Te</td>
                        <td>{{shovels_total.qty.ob+draglines_total.solid_qty}} cum</td>
                        <td>{{outsourcings_total.data.qty}} cum</td>
                    </tr>

                </table>
            </div>
            <div class="  summary-section" id="shovel-summary">
                <table class="w3-table-all w3-margin-top">
                    <tr class="w3-teal w3-xlarge">
                        <td colspan="7">Shovel</td>
                    </tr>
                    <tr class="head">
                        <td></td>
                        <td>East Coal</td>
                        <td>East OB</td>
                        <td>West Coal</td>
                        <td>West OB</td>
                        <td>Total Coal</td>
                        <td>Total OB</td>
                    </tr>
                    <tr class="unit">
                        <td></td>
                        <td>(Te)</td>
                        <td>(cum)</td>
                        <td>(Te)</td>
                        <td>(cum)</td>
                        <td>(Te)</td>
                        <td>(cum)</td>
                    </tr>
                    <tr class="data" ng-repeat="x in shovels">
                        <td class="name-col">{{x.name}}</td>
                        <td>{{x.qty.east_coal}}</td>
                        <td>{{x.qty.east_ob}}</td>
                        <td>{{x.qty.west_coal}}</td>
                        <td>{{x.qty.west_ob}}</td>
                        <td>{{x.qty.coal}}</td>
                        <td>{{x.qty.ob}}</td>
                    </tr>
                    <tr class="total w3-teal">
                        <td class="name-col">Total</td>
                        <td>{{shovels_total.qty.east_coal}} Te</td>
                        <td>{{shovels_total.qty.east_ob}} cum</td>
                        <td>{{shovels_total.qty.west_coal}} Te</td>
                        <td>{{shovels_total.qty.west_ob}} cum</td>
                        <td>{{shovels_total.qty.coal}} Te</td>
                        <td>{{shovels_total.qty.ob}} cum</td>
                    </tr>
                </table>
            </div>
            <div class="  summary-section" id="dragline-summary">
                <table class="w3-table-all w3-margin-top">
                    <tr class="w3-teal w3-xlarge">
                        <td colspan="10">Dragline</td>
                    </tr>
                    <tr class="head">
                        <td></td>
                        <td>Solid</td>
                        <td>Rehandling</td>
                        <td>Remark</td>
                    </tr>
                    <tr class="unit">
                        <td></td>
                        <td>(cum)</td>
                        <td>(cum)</td>
                        <td></td>
                    </tr>
                    <tr class="data" ng-repeat="x in draglines">
                        <td>{{x.name}}</td>
                        <td>{{x.solid_qty}}</td>
                        <td>{{x.rehandling_qty}}</td>
                        <td>{{x.data.remark}}</td>
                    </tr>
                    <tr class="total w3-teal">
                        <td>Total</td>
                        <td>{{draglines_total.solid_qty}} cum</td>
                        <td>{{draglines_total.rehandling_qty}} cum</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="  summary-section" id="surface-miner-summary">

                <table class="w3-table-all w3-margin-top">
                    <tr class="w3-teal w3-xlarge">
                        <td colspan="10">Surface Miner</td>
                    </tr>
                    <tr class="head">
                        <td></td>
                        <td>Working Hrs</td>
                        <td>Cutting</td>
                        <td>Production</td>
                        <td>Remark</td>
                    </tr>
                    <tr class="unit">
                        <td></td>
                        <td>(hrs)</td>
                        <td>(mtrs)</td>
                        <td>(Te)</td>
                        <td></td>
                    </tr>
                    <tr class="data" ng-repeat="x in surfaceMiners">
                        <td class="name-col">{{x.name}}</td>
                        <td>{{x.data.wrk}}</td>
                        <td>{{x.data.cutting}}</td>
                        <td>{{x.data.prod}}</td>
                        <td>{{x.data.remark}}</td>
                    </tr>
                    <tr class="total w3-teal">
                        <td class="name-col">Total</td>
                        <td>{{surfaceMiners_total.data.wrk}} hrs</td>
                        <td>{{surfaceMiners_total.data.cutting}} mtrs</td>
                        <td>{{surfaceMiners_total.data.prod}} Te </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="  summary-section" id="outsourcing-summary">
                <table class="w3-table-all w3-margin-top">
                    <tr class="w3-teal w3-xlarge">
                        <td colspan="10">Outsourcing</td>
                    </tr>
                    <tr class="head">
                        <td></td>
                        <td>Qty</td>
                        <td>Remark</td>
                    </tr>
                    <tr class="unit">
                        <td></td>
                        <td>(cum)</td>
                        <td></td>
                    </tr>
                    <tr class="data" ng-repeat="x in outsourcings">
                        <td class="name-col">{{x.name}}</td>
                        <td>{{x.data.qty}}</td>
                        <td>{{x.data.remark}}</td>
                    </tr>
                    <tr class="total w3-teal">
                        <td class="name-col">Total</td>
                        <td>{{outsourcings_total.data.qty}} cum</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="summary-section" id="dispatch-summary">
                <table class="data w3-table-all">
                    <tr class="head">
                        <td></td>
                        <td>Rakes</td>
                        <td>Boxes</td>
                        <td>Quantity</td>
                    </tr>
                    <tr class="unit">
                        <td></td>
                        <td>nos</td>
                        <td>nos</td>
                        <td>Te</td>
                    </tr>
                    <tr class="data">
                        <td>Silo</td>
                        <td>{{disp.data[0]}}</td>
                        <td>{{disp.data[1]}}</td>
                        <td>{{disp.data[2]}}</td>
                    </tr>
                    <tr class="data">
                        <td>Wharf wall</td>
                        <td>{{disp.data[3]}}</td>
                        <td>{{disp.data[4]}}</td>
                        <td>{{disp.data[5]}}</td>
                    </tr>
                    <tr class="data">
                        <td>Road</td>
                        <td></td>
                        <td></td>
                        <td>{{disp.data[6]}}</td>
                    </tr>
                    <tr class="total w3-teal">
                        <td>Total Dispatch</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="data">
                        <td>Jnt recvd</td>
                        <td></td>
                        <td></td>
                        <td>{{disp.data[7]}}</td>
                    </tr>
                    <tr class="total w3-teal">
                        <td>Net Dispatch</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="data">
                        <td>Surface Miner Transport</td>
                        <td></td>
                        <td></td>
                        <td>{{disp.data[8]}}</td>
                    </tr>
                    <tr class="data">
                        <td>Mobile cruser</td>
                        <td></td>
                        <td></td>
                        <td>{{disp.data[9]}}</td>
                    </tr>
                    <tr class="data">
                        <td>Internal transport-RPL</td>
                        <td></td>
                        <td></td>
                        <td>{{disp.data[10]}}</td>
                    </tr>
                    <tr class="data">
                        <td>CHP Dumper Feeding</td>
                        <td></td>
                        <td></td>
                        <td>{{disp.data[11]}}</td>
                    </tr>
                    <tr class="data">
                        <td>CHP Diversion</td>
                        <td></td>
                        <td></td>
                        <td>{{disp.data[12]}}</td>
                    </tr>
                    <tr class="data">
                        <td>Payloader Rehanding</td>
                        <td></td>
                        <td></td>
                        <td>{{disp.data[13]}}</td>
                    </tr>
                    <tr class="total w3-teal">
                        <td>CHP Crushing</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="navigation.js"></script>
<script src="classes.js"></script>
<script src="prod.js"></script>


</html>