<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myController">
<title>DCH Live</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- <script src="libs/jquery.js" defer></script> -->
<!-- <script src="libs/angular.js"></script> -->

<link rel="stylesheet" href="css/live.css?v3">
<script src="js/navigation.js?v3" defer></script>
<script src="js/class.js?v3" defer></script>
<script src="js/exp.js?v3" defer></script>
<script src="js/live.js?v3" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <header>
        <ul class="section-selector">
            <li id="live-tab" href="#" onmouseDown="openSection('live')" class="tab">Live</li>
            <li id="trend-tab" href="#" onmouseDown="openSection('trend')" class="tab">Trends</li>

            <li id="crusher-tab" href="#" onmouseDown="openSection('crusher')" ng-click="graph('crusher')" class="tab">
                Crushers</li>
            <li id="shovel-tab" href="#" onmouseDown="openSection('shovel')" ng-click="graph('shovel')" class="tab">
                Shovels</li>
            <li id="dragline-tab" href="#" onmouseDown="openSection('dragline')" ng-click="graph('dragline')"
                class="tab">
                Draglines</li>
            <li id="dumper-tab" href="#" onmouseDown="openSection('dumper')" ng-click="graph('dumper')" class="tab">
                Dumpers</li>

        </ul>

        <div class="login">
            <div class="auth" ng-hide="auth">
                <input type="password" name="" id="" class="" ng-model="pin" placeholder="PIN">
                <button class="" ng-click="login()">LOGIN</button>
            </div>
            <div class=" " ng-hide="!auth">
                <span class="">{{user}}</span>
                <button class="" ng-click="auth=false; user='Guest'; pin=''">LOGOUT</button>
            </div>
        </div>
    </header>
    <div class="dev" ng-show="user=='Dev'">
        <button ng-click="indirect('randomize()')">Randomize</button>
        <!-- <button ng-click="indirect('upload()')">Upload</button>
        <button ng-click="indirect('download()')">Download</button> -->
        <button ng-click="rebase()">Rebase</button>
        <button ng-click="indirect('reset()')">Reset</button>
        <button ng-click="dnLocal()">dnLocal</button>
        <button ng-click="upLocal()">upLocal</button>
        <button ng-click="dnRemote()">dnRemote</button>
        <button ng-click="upRemote()">upRemote</button>
    </div>
    <main>


        <div class="section" id="live-sec">

            <div class="live-bar">
                <div class="">
                    <table>
                        <tr>
                            <th>SILO</th>
                            <th>COMPLETE</th>
                            <th>NEXT</th>
                        </tr>
                        <tr ng-repeat="silo in silos">
                            <td clas="silo-name"> {{silo.name}}</td>
                            <td>
                                <div class="incrementor">
                                    <button ng-click="silo.rakes=silo.rakes-1; update()" ng-hide="!auth">-</button>
                                    <span>{{silo.rakes}}</span>
                                    <button ng-click="silo.rakes=silo.rakes+1; update()" ng-hide="!auth">+</button>
                                </div>
                            </td>
                            <td>
                                <input type="text" ng-model="silo.remark" ng-change="update()">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="">
                    <table>
                        <tr>
                            <th>DUMPERS</th>
                            <th>AVL</th>
                            <th>RNG</th>
                        </tr>
                        <tr>
                            <td>EAST</td>
                            <td>
                                <div class="incrementor">
                                    <button ng-click="dumperCounter(1)" ng-hide="!auth">-</button>
                                    <span> {{dumper.east_avl}} </span>
                                    <button ng-click="dumperCounter(2)" ng-hide="!auth">+</button>
                                </div>
                            </td>
                            <td>
                                <div class="incrementor">
                                    <button ng-click="dumperCounter(3)" ng-hide="!auth">-</button>
                                    <span> {{dumper.east_run}} </span>
                                    <button ng-click="dumperCounter(4)" ng-hide="!auth">+</button>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>WEST</td>
                            <td>
                                <div class="incrementor">
                                    <button ng-click="dumperCounter(5)" ng-hide="!auth">-</button>
                                    <span> {{dumper.west_avl}} </span>
                                    <button ng-click="dumperCounter(6)" ng-hide="!auth">+</button>
                                </div>
                            </td>
                            <td>
                                <div class="incrementor">
                                    <button ng-click="dumperCounter(7)" ng-hide="!auth">-</button>
                                    <span> {{dumper.west_run}} </span>
                                    <button ng-click="dumperCounter(8)" ng-hide="!auth">+</button>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>TOTAL</td>
                            <td>
                                <div class="incrementor">
                                    <span> {{dumper.avl}} </span>
                                </div>
                            </td>
                            <td>
                                <div class="incrementor">
                                    <span> {{dumper.run}} </span>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="live-content">
                <!-- <div class="silo mach" ng-repeat="silo in silos">
                    <p clas="silo-name"> {{silo.name}}</p>
                    <div class="incrementor">
                        <button ng-click="silo.rakes=silo.rakes-1; update()" ng-hide="!auth">-</button>
                        <span>{{silo.rakes}}</span>
                        <button ng-click="silo.rakes=silo.rakes+1; update()" ng-hide="!auth">+</button>
                    </div>
                    <input type="text" ng-model="silo.remark" ng-change="update()">
                </div>

                <div class="mach live-dumper">
                    <p> EAST DUMPERS</p>
                    <div>
                        <button ng-click="dumperCounter(1)" ng-hide="!auth">-</button>
                        <p class="dumper-param">AVL</p>
                        <p>{{dumper. east_avl}}</p>
                        <button ng-click="dumperCounter(2)" ng-hide="!auth">+</button>
                    </div>
                    <div>
                        <button ng-click="dumperCounter(3)" ng-hide="!auth">-</button>
                        <p class="dumper-param">RUN</p>
                        <p>{{dumper. east_run}}</p>
                        <button ng-click="dumperCounter(4)" ng-hide="!auth">+</button>
                    </div>
                </div> 

                 <div class="mach live-dumper">
                    <p>WEST DUMPERS</p>
                    <div>
                        <button ng-click="dumperCounter(5)" ng-hide="!auth">-</button>
                        <p class="dumper-param">AVL</p>
                        <p>{{dumper.west_avl}}</p>
                        <button ng-click="dumperCounter(6)" ng-hide="!auth">+</button>
                    </div>
                    <div>
                        <button ng-click="dumperCounter(7)" ng-hide="!auth">-</button>
                        <p class="dumper-param">RUN</p>
                        <p>{{dumper.west_run}}</p>
                        <button ng-click="dumperCounter(8)" ng-hide="!auth">+</button>
                    </div>
                </div> -->

                <div class=" mach" ng-repeat="x in machines">
                    <div class="inner">
                        <div class="front {{ statusStrings[x.status] }}">
                            <p class="mach-title">{{ x.name }}</p>
                            <p class="mach-remark">{{ x.remark }}</p>
                        </div>

                        <div class="back">

                            <select ng-model="x.status" ng-change="machineStatus(x)"
                                ng-options="statusStrings[s] for s in statusCodes" ng-disabled="!auth"></select>
                            <input class="back-remark" ng-model="x.remark" ng-change="update()" placeholder="Remark"
                                type="text" ng-disabled="!auth" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="trend-sec">
            <div class="trend-row" ng-repeat="x in machines">
                <p class="mcname"> {{x.name}} </p>
                <div class="mctrend">
                    <div ng-repeat="y in x.logs track by $index" class="tooltip trend-block {{statusStrings[y]}}"
                        ng-click=" trendToggle(x,$index)">
                        <span class="tooltiptext">{{timef($index)}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="crusher-sec">
            <div class="chart-container" id="crusher-time">
            </div>
            <div class="table-container">
                <table class="perf-table">
                    <tr class="head">
                        <td colspan="8">CRUSHERS</td>
                    </tr>
                    <tr class="head">
                        <th></th>
                        <th>AVL HRS</th>
                        <th>RUN HRS</th>
                        <th>BDN HRS</th>
                        <th>MNT HRS</th>
                        <th>IDL HRS</th>

                    </tr>
                    <tr ng-repeat="s in crushers">
                        <td>{{s.name}}</td>
                        <td>{{hms(s.avlm)}}</td>
                        <td>{{hms(s.runm)}}</td>
                        <td>{{hms(s.brkm)}}</td>
                        <td>{{hms(s.mntm)}}</td>
                        <td>{{hms(s.idlm)}}</td>

                    </tr>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td>{{hms(crusherTotal.avlm)}}</td>
                        <td>{{hms(crusherTotal.runm)}}</td>
                        <td>{{hms(crusherTotal.brkm)}}</td>
                        <td>{{hms(crusherTotal.mntm)}}</td>
                        <td>{{hms(crusherTotal.idlm)}}</td>

                    </tr>
                </table>
            </div>
            <div class="table-container">
                <table class="perf-table">
                    <tr class="head">
                        <td colspan="8">CRUSHERS</td>
                    </tr>
                    <tr class="head">
                        <th></th>
                        <th>% AVAILABILITY</th>
                        <th>% UTILIZATION</th>
                    </tr>
                    <tr ng-repeat="s in crushers">
                        <td>{{s.name}}</td>
                        <td>{{s.pavl}}%</td>
                        <td>{{s.putl}}%</td>
                    </tr>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td>{{crusherTotal.pavl}}%</td>
                        <td>{{crusherTotal.putl}}%</td>
                    </tr>
                </table>
            </div>
            <div class="chart-container" id="crusher-perf">
            </div>
            <div class="chart-container" id="crusher-total-time">
            </div>
            <div class="chart-container" id="crusher-total-perf">
            </div>

        </div>

        <div class="section" id="shovel-sec">


            <div class="chart-container" id="shovel-avlm">
            </div>
            <div class="chart-container" id="shovel-runm">
            </div>
            <div class="chart-container" id="shovel-pavl">
            </div>
            <div class="chart-container" id="shovel-putl">
            </div>
            <div class="chart-container" id="shovel-total-time">
            </div>
            <div class="chart-container" id="shovel-total-perf">
            </div>

            <div class="table-container" id="shovel-table">
                <table class="perf-table">
                    <tr class="head">
                        <td colspan="8">SHOVELS</td>
                    </tr>
                    <tr class="head">
                        <th></th>
                        <th>AVL HRS</th>
                        <th>RUN HRS</th>
                        <th>BDN HRS</th>
                        <th>MNT HRS</th>
                        <th>IDL HRS</th>
                        <th>% AVAILABILITY</th>
                        <th>% UTILIZATION</th>
                    </tr>
                    <tr ng-repeat="s in shovels">

                        <td>{{s.name}}</td>
                        <td>{{hms(s.avlm)}}</td>
                        <td>{{hms(s.runm)}}</td>
                        <td>{{hms(s.brkm)}}</td>
                        <td>{{hms(s.mntm)}}</td>
                        <td>{{hms(s.idlm)}}</td>
                        <td>{{s.pavl}}%</td>
                        <td>{{s.putl}}%</td>
                    </tr>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td>{{hms(shovelTotal.avlm)}}</td>
                        <td>{{hms(shovelTotal.runm)}}</td>
                        <td>{{hms(shovelTotal.brkm)}}</td>
                        <td>{{hms(shovelTotal.mntm)}}</td>
                        <td>{{hms(shovelTotal.idlm)}}</td>
                        <td>{{shovelTotal.pavl}}%</td>
                        <td>{{shovelTotal.putl}}%</td>
                    </tr>
                </table>
            </div>



        </div>

        <div class="section" id="dragline-sec">
            <div class="chart-container" id="dragline-time">
            </div>
            <div class="table-container">
                <table class="perf-table">
                    <tr class="head">
                        <td colspan="8">DRAGLINES</td>
                    </tr>
                    <tr class="head">
                        <th></th>
                        <th>AVL HRS</th>
                        <th>RUN HRS</th>
                        <th>BDN HRS</th>
                        <th>MNT HRS</th>
                        <th>IDL HRS</th>

                    </tr>
                    <tr ng-repeat="s in draglines">
                        <td>{{s.name}}</td>
                        <td>{{hms(s.avlm)}}</td>
                        <td>{{hms(s.runm)}}</td>
                        <td>{{hms(s.brkm)}}</td>
                        <td>{{hms(s.mntm)}}</td>
                        <td>{{hms(s.idlm)}}</td>

                    </tr>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td>{{hms(draglineTotal.avlm)}}</td>
                        <td>{{hms(draglineTotal.runm)}}</td>
                        <td>{{hms(draglineTotal.brkm)}}</td>
                        <td>{{hms(draglineTotal.mntm)}}</td>
                        <td>{{hms(draglineTotal.idlm)}}</td>

                    </tr>
                </table>
            </div>
            <div class="table-container">
                <table class="perf-table">
                    <tr class="head">
                        <td colspan="8">DRAGLINES</td>
                    </tr>
                    <tr class="head">
                        <th></th>
                        <th>% AVAILABILITY</th>
                        <th>% UTILIZATION</th>
                    </tr>
                    <tr ng-repeat="s in draglines">
                        <td>{{s.name}}</td>
                        <td>{{s.pavl}}%</td>
                        <td>{{s.putl}}%</td>
                    </tr>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td>{{draglineTotal.pavl}}%</td>
                        <td>{{draglineTotal.putl}}%</td>
                    </tr>
                </table>
            </div>
            <div class="chart-container" id="dragline-perf">
            </div>
            <div class="chart-container" id="dragline-total-time">
            </div>
            <div class="chart-container" id="dragline-total-perf">
            </div>
        </div>

        <div class="section" id="dumper-sec">
            <div class="chart-container" id="dumper-time">
            </div>
            <div class="table-container">
                <table class="perf-table">
                    <tr class="head">
                        <td colspan="8">DUMPERS</td>
                    </tr>
                    <tr class="head">
                        <th></th>
                        <th>AVL HRS</th>
                        <th>RUN HRS</th>
                        <th>BDN HRS</th>
                        <th>IDL HRS</th>

                    </tr>
                    <tr ng-repeat="s in activeDumpers">
                        <td>{{hourf(s.hour)}}</td>
                        <td>{{hms(s.avlm)}}</td>
                        <td>{{hms(s.runm)}}</td>
                        <td>{{hms(s.brkm)}}</td>

                        <td>{{hms(s.idlm)}}</td>

                    </tr>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td>{{hms(dumperTotal.avlm)}}</td>
                        <td>{{hms(dumperTotal.runm)}}</td>
                        <td>{{hms(dumperTotal.brkm)}}</td>

                        <td>{{hms(dumperTotal.idlm)}}</td>

                    </tr>
                </table>
            </div>
            <div class="table-container">
                <table class="perf-table">
                    <tr class="head">
                        <td colspan="8">DUMPERS</td>
                    </tr>
                    <tr class="head">
                        <th></th>
                        <th>% AVAILABILITY</th>
                        <th>% UTILIZATION</th>
                    </tr>
                    <tr ng-repeat="s in activeDumpers">
                        <td>{{hourf(s.name)}}</td>
                        <td>{{s.pavl}}%</td>
                        <td>{{s.putl}}%</td>
                    </tr>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td>{{dumperTotal.pavl}}%</td>
                        <td>{{dumperTotal.putl}}%</td>
                    </tr>
                </table>
            </div>
            <div class="chart-container" id="dumper-perf">
            </div>
            <div class="chart-container" id="dumper-total-time">
            </div>
            <div class="chart-container" id="dumper-total-perf">
            </div>
            <div class="hourly-dumpers">

                <table class="perf-table">
                    <tr class="head">
                        <th></th>
                        <th colspan='2'>EAST SECTION</th>
                        <th></th>
                        <th colspan='2'>WEST SECTION</th>
                    </tr>
              
                    <tr class="head">
                        <th>HOUR</th>
                        <th>AVL</th>
                        <th>RUN</th>
                        <td></td>
                        <th>AVL</th>
                        <th>RUN</th>
                    </tr>
                    <tr ng-repeat="x in dumpers track by $index" ng-hide="x.hour > hour">
                        <td>{{hourf(x.hour)}}</td>
                        <td><input type="number" ng-model="x.east_avl" ng-disabled="!auth || x.hour>=hour"
                                ng-change="update()">
                        </td>
                        <td><input type="number" ng-model="x.east_run" ng-disabled="!auth || x.hour>=hour"
                                ng-change="update()">
                        </td>
                        <td></td>
                        <td><input type="number" ng-model="x.west_avl" ng-disabled="!auth || x.hour>=hour" ng-change="update()">
                        </td>
                        <td><input type="number" ng-model="x.west_run" ng-disabled="!auth || x.hour>=hour" ng-change="update()">
                        </td>
                    </tr>
                    <tr class="total">
                        <td>TOTAL</td>
                        <td>{{dumperTotal.east_avl}} Hrs</td>
                        <td>{{dumperTotal.east_run}} Hrs</td>
                        <td></td>
                        <td>{{dumperTotal.west_avl}} Hrs</td>
                        <td>{{dumperTotal.west_run}} Hrs</td>
                    </tr>
                </table>

            </div>
        </div>

    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" defer></script>

</html>