* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-size: 1vw;
  line-height: 1;
}

button, input, select, textarea {
  font-size: 100%;
  height: 2vw;
  line-height: 1;
  border: 0.5px solid grey;
  border-radius: 2px;
  margin: 0.1vw;
  padding: 0.2vw 1vw;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(74, 74, 177);
  color: white;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
}

button:hover {
  background: rgb(71, 97, 71);
}

input {
  max-width: 10vw;
}

input:disabled, select:disabled, textarea:disabled, button:disabled, button:disabled:hover {
  background: lightgrey;
  color: grey;
}

.header {
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
}

.menu, .login {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
}

.menu a {
  height: 3vw;
  flex-grow: 1;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1vw;
  border-radius: 3px;
  margin: 0.2vw;
}

.menu a:hover {
  background: red;
}

.login-form, .user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user span {
  display: inline-block;
  margin: 10px;
}

.login-form input {
  width: 120px;
}

/* //////////////////////////////////////////////////////////// */

@media (max-width: 768px) {
  body {
    font-size: 2.5vw;
  }
  button, input, select, textarea, .menu a {
    height: 5vw;
  }
  .header {
    padding: 1vw;
    flex-wrap: wrap;
  }
  .menu {
    width: 60%;
    order: 1;
    padding: 2%;
  }
  .title {
    order: 0;
    width: 100%;
    font-size: 5vw;
    padding-bottom: 2%;
    border-bottom: 1px solid grey;
  }
  .login {
    order: 2;
    width: 35%;
    overflow: hidden;
  }
  .login-form input {
    width: 60%;
  }
}