/* GENERICS //////////////////////////// */
*{
	margin:0px;
	padding:0px;
}




body {
	 background: rgb(47, 47, 47);
}

input, select{
	padding:2px 5px;
	border:1px solid lightgrey;
}


input, select:disabled{
	outline:none;
}


/* HEADER /////////////////////////////// */

/* MACHINES //////////////////// */

.live-sub{
	width:100%;
	margin:10px 0px;
}

.mach{
	width: 160px;
	height: 90px;
	margin: 5px;
	border-radius:3px;
	overflow:hidden;
	display:flex;
	flex-direction: column;	
}

.mach button {
	height:25px;
	width:25px;
	font-size:25px;
	font-weight: bold;
	display:flex;
	justify-content: center;
	align-items:center;
	background:rgb(255,255,255,0.1);
	color:#999;
	border:none;
	outline:none;
	border-radius: 15px;
	cursor: pointer;
}


/* SILO SECTION  ///////////////////////////////// */

.silo{
	display:flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	color:white;
	border:1px solid #666;
	background:rgb(53, 52, 52);
}

.rake-incrementer{
	padding:0px 10px;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.rake-incrementer span{
	font-size:30px;
}



.silo input{
	background:transparent;
	border:none;
	outline:none;
	color:#aaa;
	text-align:center;
}


/* DUMPER  ///////////////////////////////// */
.live-dumper{
	display:flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	color:white;
	border:1px solid #666;
	background:rgb(53, 52, 52);
}

.live-dumper div{
	height:30%;
	padding:0px 10px;
	display:flex;
	justify-content: space-around;
	align-items: center;
}



.dumper-param{
	color:grey;
}






/* ///////////////////////////////// */


.live-sub{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;

}

.type {
	padding: 1vw 0.5vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.machine {
	perspective: 5000px;
	perspective: 50000px;
	color: white;
}

.inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.2s;
	transform-style: preserve-3d;
}

.front,
.back {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	backface-visibility: hidden;
	padding: 10px;
}

.back {
	transform: rotateY(180deg);
	background: white;
	color:#333;
}

.back * {
	width: 100%;
}

.machine-title {
	font-size: 100%;
}

.machine-remark {
	font-size: 70%;
}

.machine-title-back {
	font-size: 80%;
}

@media (min-width: 768px) {
	.machine:hover .inner {
		transform: rotateY(180deg);
	}
}

/* TREND SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.trend-section {
	width: 100vw;
	padding: 20px 0;
	background: rgb(47, 47, 47);
}

.trend-row {
	/* display: flex; */
	color: white;
	margin-bottom: 20px;
}

.mcname {
	width: 200px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
	
}

.mctrend {
	height:30px;
	display: flex;
	flex-grow: 1;
	border-radius: 5px;
	/* overflow: hidden; */
}

.trend-block {
	height: 100%;
	flex-grow: 1;
	cursor:pointer;
}

.trend-block:last-of-type{
	border-right: 1px solid rgb(188, 188, 188, 0.2);
}

.trend-block:hover{
	border:1px solid yellow;
}

.Idle-block {
	background: rgb(51, 87, 83);

}

.Running-block {
	background: rgb(0, 225, 50);
	
}

.BreakDown-block {
	background: rgb(255, 0, 60);
	
}

.Undef-block {
	background: rgba(163, 163, 163, 0);
	border-top: 1px solid rgb(188, 188, 188, 0.2);
	border-bottom: 1px solid rgb(188, 188, 188, 0.2);
}





/* GRAPHS /////////////////////////////////////////////////////// */



#graphs-sec{
	display:flex;
	flex-wrap:wrap;
}

.graphs-tbl{
	width:350px;
	height:250px;
	color:white;
	margin:10px;
	border-collapse: collapse;
}

.tbl-hdr td {
	background:rgb(80, 79, 79);
}



.graphs-tbl td{
	border:1px solid rgb(128, 126, 126);
	width:25%;
	padding:10px;
}

.graphs-tbl .bar-td{
	padding:5px 20px 0px;
}

.bar-parent{
	border:1px solid rgb(65, 64, 64);
	height:100%;
	/* background:yellow; */
	display:flex;
	align-items: flex-end;
	position: relative;
}

.avl-bar{
	background: rgb(0, 124, 225);
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.utl-bar{
	background:rgb(15, 223, 50);
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.bar-parent span{
	position:absolute;
	bottom:50%;
}





/* ///////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
	.card {
		width: 30vw;
		height: 20vw;
		margin: 0.5vw;
	}

	.header-title{
		display:none
	}
}

.Idle {
	background: rgb(100,100,100);
}

.Running {
	background: rgb(0, 225, 50);
}

.BreakDown {
	background: rgb(255, 0, 60);
}

.Undef {
	background: rgba(163, 163, 163, 0);
}




.tooltip {
  position: relative;
  display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
  background:yellow;
  color:#444;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: yellow transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



/* TABLE SECTION ///////////////////////////////////////////////// */

#tables-sec > div{
		margin-bottom:100px;
		
	
}

#tables-sec input{
	max-width:50px;
	padding:2px 2px;
	border:1px solid lightgrey;
}

#tables-sec input:disabled{
	border:none;

}

/* //////////////////////////////////////////////// */