* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	padding: 20px;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

button {
	width: 150px;
	height: 60px;
	border: none;
	border-radius: 3px;
	cursor: pointer;

	font-size: 1.5rem;
}

button:focus {
	outline: none;
}

button:active {
	transform: scale(0.98);
}

input {
	width: 300px;
	height: 60px;
	padding: 0 5px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	outline: none;
}

input:focus {
	border: none;
	border: 1px solid gold;
}

.frame {
	width: 98vw;
	height: 90vh;
	max-width: 400px;
	/* background:yellow; */
	border-radius: 5px;
	border: 1px solid lightgrey;
	display:flex;
	flex-direction: column;
}

.login main {
	width: 300px;
	height: 450px;
	margin: 25px auto;
	padding: 1rem;
	/* background:lightblue; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 5px;
}

.login img {
	max-width: 100px;
	height: auto;
}

.login main button {
	background: #265cfd;
	color: white;
}

.login main button:hover {
	background: #163fb8;
}

.login input {
	font-size: 1.5rem;
	color: blue;

	text-align: center;
}

.login p {
	display: none;
	color: red;
	font-size: 1.5rem;
}

header {
	height: 50px;
	padding: 10px;
	background: rgb(51, 44, 153);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.close {
	width: 40px;
	height: 40px;
	background: transparent;
	color: white;
}

.list main{
	overflow:auto;
	scroll-behavior: smooth;
}

.list-item {
	height: 70px;
	margin: 0 10px;
	display: grid;
	grid-template-columns: minmax(0, 20%) minmax(0, 70%) minmax(0, 10%);
	grid-template-rows: minmax(0, 33%) minmax(0, 33%) minmax(0, 33%);
	grid-template-areas: "l mt r" "l mt r" "l mb r";
}

.l {
	grid-area: l;
	display: grid;
	place-items: center;
}

.mt {
	padding-left: 5px;
	grid-area: mt;
	display: grid;
	place-items: center start;
	font-size: 1.4rem;
}

.mb {
	padding-left: 5px;
	grid-area: mb;
	display: grid;
	place-items: center start;
	font-size: 0.7rem;
	border-bottom: 1px solid #eee;
}

.r {
	grid-area: r;
	display: grid;
	place-items: center;
}
.list-item div {
	/* border: 1px solid rgb(236, 233, 233); */
}
